{% extends "base.html" %} 

{% block title %}
    Taxi app
{% endblock %}

{% block content %}

<div class="row bg-mine bg-dark">
    <div class="col s12 m6">
        <h1>Taxi App</h1>
        <p>Aquí hay una aplicación que te ayudará a brindarle transporte a tus empleados y trabajo a conductores, todo manteniendo información monetaria y de gastos al alcance de la mano.</p>
    </div>
    <div class="col s12 m6">
        <h4 style="margin-bottom: 10px;">No pierdas la oportunidad de ordenar tu transporte</h4>
        <a href="/register_usuarios" class="btn btn-dark">Registrate</a>
    </div>
</div>

{% endblock %}