{% extends "base.html" %} 

{% block title %} Solicitud de viaje {% endblock %}

{% block content %}
<div class="container">
<h2 class="font-weight-bold"> Bienvenido/a {{usuario[0]['nombre']}} {{usuario[0]['apellido']}} !</h2>

<hr class="border border-black" />
<div class="row">
    <form action="/viajes/solicitud" method="post" class="p-4 col-md-8 col-lg-6 my-4 mx-5 bg-dark text-light">
        <h3 class="text-center">Nuevo viaje:</h3>
        <hr class="border border-white" />

        <!-- Error Messages -->
        {% with messages = get_flashed_messages(category_filter=['ride']) %} 
            {% if messages %}
            <ul class="alert alert-danger list-unstyled">
                {% for message in messages %}
                    <li> - {{message}}</li>
                {% endfor %}
            </ul>
            {% endif %} 
        {% endwith %}

    <div class="form-group row">
        <label for="direccion_inicio" class="col-sm-4 col-form-label">Dirección de Inicio:</label>
        <div class="col-sm-8">
            <input type="text" name="direccion_inicio" id="direccion_inicio" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label for="direccion_destino" class="col-sm-4 col-form-label">Dirección de Destino:</label>
        <div class="col-sm-8">
        <input type="text" name="direccion_destino" id="direccion_destino" class="form-control"/>
        </div>
    </div>

    <div class="form-group row">
        <label for="detalles" class="col-sm-4 col-form-label">Detalles:</label>
        <div class="col-sm-8">
            <textarea name="detalles" id="detalles" rows="5" class="form-control"></textarea>
        </div>
    </div>

    <input hidden type="text" name="usuario_id" id="usuario_id" value={{usuario[0]['id']}} />

    <div class="form-group row">
        <div class="col-12 d-flex justify-content-end">
            <input type="submit" value="Post" class="btn btn-success px-5" />
        </div>
    </div>
    </form>
</div>

<script>
    // Initialize the autocomplete functionality using the Google Maps API
    function initAutocomplete() {
        const autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('direccion_inicio'),
            {types: ['geocode']}
        );
        
        const autocomplete2 = new google.maps.places.Autocomplete(
            document.getElementById('direccion_destino'),
            {types: ['geocode']}
        );
    }
</script>

<!-- Include the Google Maps API library -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPtD2sqK9W5zE2IhG1ia_qZ9quI9Eh6c&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}