{% extends "base.html" %} 

{% block title %} Todos los Viajes {% endblock %} 

{% block content %}
<div class="container">
    {% if session.cargo == "administrador" %}
    <form action="/filtrar_viajes" method="post" id="filtroForm">
        <div>
            <label> Filtrar por fechas: </label>
            <div>
                <label for="fecha_inicio">Fecha de inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio">

                <label for="fecha_fin">Fecha de fin:</label>
                <input type="date" id="fecha_fin" name="fecha_fin">

                <button type="submit">Filtrar</button>
            </div>
        </div>
    </form>
    {% endif %}
    <table class="table table-dark table-export" id="tableID" >
        <thead>
            <tr>
                <th class="col-2">Solicitante</th>
                <th class="col-2">Conductor</th>
                <th class="col-2">Dirección Inicio</th>
                <th class="col-2">Dirección Destino</th>
                <th class="col-2">Detalles</th>
                <th class="col-1">Valor Viaje</th>
                <th class="col-1">Fecha de Creación</th>
            </tr>
        </thead>
        <tbody id="tablaViajes">
                {% for viaje in todo_viajes %}
            <tr>
                <td class="col-2">{{ viaje.solicitante }}</td>
                <td class="col-2">{% if viaje.conductor_nombre == None %} Sin Conductor Desitgnado {% else %} {{ viaje.conductor_nombre }} {{ viaje.conductor_apellido }} {% endif %}</td>
                <td class="col-2">{{ viaje.direccion_inicio }}</td>
                <td class="col-2">{{ viaje.direccion_destino }}</td>
                <td class="col-2">{{ viaje.detalles }}</td>
                <td class="col-1">{% if viaje.valor_viaje == None %} {{0}} {% else %} {{ viaje.valor_viaje }} {% endif %}</td>
                <td class="col-1">{{ viaje.created_at }} </td>
            </tr>
                {% endfor %}
            <tr>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2">Total:</td>
                <td class="col-1" id="sumatoria"></td>
                <td class="col-1"></td>
            </tr>

        </tbody>
        {% if session.cargo == "administrador" %}
        <button onclick="exportTableToExcel('tableID', 'tableID')">Descargar Excel</button>
        {% endif %}
    </table>
</div>

<br> 
<br> 
<br> 
<br>

<script>
    // Obtiene la tabla y sus filas
    var table = document.getElementById("tableID");
    var rows = table.getElementsByTagName("tr");

    // Variable para almacenar la suma
    var sumatoria = 0;

    // Recorre las filas de la tabla y suma los valores de la sexta columna
    for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cols = row.getElementsByTagName("td");
        if (cols.length > 5) {
            
            var valorViajeStr = cols[5].innerHTML.replace('.', '').replace(',', '.');
            var valorViaje = parseFloat(valorViajeStr);
            if (!isNaN(valorViaje)) {
                sumatoria += valorViaje;
            }
        }
    }
    // Actualiza la celda de la sumatoria con el valor calculado
    var sumatoriaStr = sumatoria.toLocaleString('es-CL', { minimumFractionDigits: 0 });
    document.getElementById("sumatoria").innerHTML = sumatoriaStr;


</script>
{% endblock %}
