{% extends "base.html" %} 

{% block title %} Viaje en Curso {% endblock %} 

{% block content %}
<div class="border border-2 border-dark p-4">
    <div class="my-2">
        <table class="table table-table-borderless text-left">
            <tbody class="mx-3">
                <tr >
                    <td class="col-4 col-lg-2 p-0 border-0">Conductor:</td>
                    <td class="col-4 col-lg-2 p-0 border-0"> {{ viaje[0]['conductor_nombre'] }} {{ viaje[0]['conductor_apellido'] }}</td>
                </tr>
                <tr >
                    <td class="col-4 col-lg-2 p-0 border-0">Usuario Solicitante:</td>
                    <td class="col-4 col-lg-2 p-0 border-0"> {{ viaje[0]['solicitante'] }}</td>
                </tr>
                <tr>
                    <td class="col-4 col-lg-2 p-0 border-0">Dirección de Inicio: </td>
                    <td class="col-4 col-lg-2 p-0 border-0">
                        <a href="https://www.google.es/maps/place/{{ viaje[0]['direccion_inicio'] }}">{{ viaje[0]['direccion_inicio'] }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="col-4 col-lg-2 p-0 border-0"> Dirección de Destino:</td>
                    <td class="col-4 col-lg-2 p-0 border-0">
                        <a href="https://www.google.es/maps/place/{{ viaje[0]['direccion_destino'] }}">{{ viaje[0]['direccion_destino'] }}</a> 
                    </td>
                </tr>
                <tr>
                    <td class="col-4 col-lg-2 p-0 border-0">Detalles:</td>
                    <td class="col-4 col-lg-2 p-0 border-0">{{ viaje[0]['detalles'] }}</td>
                </tr>
            </tbody>
        </table>
        {% if session.usuario_id == viaje[0]['usuario_id'] %}
        <div class="form-group row">
            <p class="col-sm-6 col-form-label">Valor del Viaje:</p>
            <div class="col-sm-4 col-form-label">
                <p> {{ viaje[0]['valor_viaje'] }} </p>
            </div>
        </div>
            {% if viaje[0]['valor_viaje'] == None %}
            <div class="mt-3">
                <a href="/viajes/{{viaje[0]['id']}}/editar" class="btn btn-link p-0 mx-1"><u>Editar</u></a>
            </div>
            {% endif %}
            {% if viaje[0]['valor_viaje'] != None %}
            <div class="mt-3">
                <a href="/pedir_viaje" class="btn btn-link p-0 mx-1"><u>Pedir nuevo viaje</u></a>
            </div>
            {% endif %}

        {% endif %}
        {% if session.conductor_id == viaje[0]['conductor_id']%}
        <div class="mt-3">
            {% if viaje[0]['valor_viaje'] == None %}
            <form action="/viajes/{{viaje[0]['id']}}/valor" method="post">
                <div class="form-group row">
                    <label for="valor_viaje" class="col-sm-4 col-form-label">Valor del Viaje:</label>
                    <div class="col-sm-8">
                        <input type="number" name="valor_viaje" id="valor_viaje" class="form-control"/>
                    </div>
                </div>
                <input hidden type="text" name="id" id="id" value={{ viaje[0]['id'] }} />
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-end">
                        <input type="submit" value="Post" class="btn btn-success px-5" />
                    </div>
                </div>
            </form>
            <div class="mt-3">
                <a href="/viajes/{{viaje[0]['id']}}/cancel_driver" class="btn btn-link p-0 mx-1"><u>Cancelar mi conducción</u></a>
            </div>
            {% else %}
            <div class="form-group row">
                <p class="col-sm-6 col-form-label">Valor del Viaje:</p>
                <div class="col-sm-4 col-form-label">
                    <p> {{ viaje[0]['valor_viaje'] }} </p>
                </div>
            </div>
            {% endif %}
        </div>
            {% if viaje[0]['valor_viaje'] != None %}
            <div class="mt-3">
                <a href="/viajes/disponibles" class="btn btn-link p-0 mx-1"><u>Buscar viaje</u></a>
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
